{% extends "panel.html" %}
{% load i18n %}
{% load vision_ims_extras %}

{% block label %}labels{% endblock label %}

{% block heading %}
{% trans "Label Settings" %}
{% endblock heading %}

{% block content %}

<table class='table table-striped table-condensed'>
    <tbody>
        {% include "Vision_IMS/settings/setting.html" with key="LABEL_ENABLE" icon='fa-toggle-on' %}
        {% include "Vision_IMS/settings/setting.html" with key="LABEL_DPI" icon='fa-toggle-on' %}
    </tbody>
</table>

{% endblock content %}
